header{
    width: 100%;
    float: left;
    background-color: rgb(0, 255, 26);
    min-height: 100px;
}

#principal{
    width: 100%;
    float: left;
    background-color: rgb(0, 213, 255);
    min-height: 350px;
}
footer{
    width: 100%;
    float: left;
    background-color: rgb(255, 0, 0);
    min-height: 50px;
}
footer p{
    font-family: 'Monotype Corsiva', cursive;
    color: white;
    font-size: 20px;
}

#logo{
    width: 20%;
    float: left;
}

#logo img{
    width: 100%;
    height: auto;
}
