header {
    background-color: #303d41;
    color: white;
    text-align: center;
    padding: 25px 0;
}

header p {
    margin: 0;
    font-size: 1.2em;

}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.cartas {
    padding: 25px;
    background-color: rgb(56, 122, 122);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_content {
    background-color: #b7ccd3;
    display: flex;
    margin: auto;
    width: 80%;
    align-items: center;
}


.player_box {
    background-color: #ecd7d7;
    width: 80%;
    margin: 5%;
    display: flex;
    flex-direction: column; /* Ensures content stacks vertically */
    align-items: center; /* Centers content horizontally */
    text-align: center; /* Centers text inside the box */
    box-sizing: border-box;
}

.player_cards {
    background-color: #ffffff;
    width: 60%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.battle_section {
    background-color: rgb(199, 166, 166);
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 5px; /* Added margin for spacing */
    box-sizing: border-box; /* Ensures padding and border are included in size */
}

.battle_card {
    background-color: rgb(85, 109, 218);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.card_selector_button {
    background-color: #c47070;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
}

footer {
    background-color: #303d41;
    color: white;
    text-align: center;
    padding: 10px 10px;
    bottom: 0;
    width: auto;
}

button:hover {
    background-color: #ff0000;
}

button:active {
    background-color: #ff0000;
    transform: translateY(2px);
}



